@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Fraunces', 'Montserrat',sans-serif;
    background: hsl(30, 38%, 92%);

}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 600px;
    height: 450px;
    display: flex; /* column is vertically stacked and row is horizontally stacked */
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    background: hsl(0, 0%, 100%);
}
.card img {
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*text-align: center;*/
    margin: 2rem;

}
.text-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 2rem 0 2rem;
    /*background: red;*/
}
.heading {
    font-family: Monteserrat;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 5px;
    color: hsl(228, 12%, 50%);
}

.title {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 32px;
    line-height: 2rem;
}

.subheading {
    font-family: Monteserrat;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 50%);
    letter-spacing: 1px;
    line-height: 1.5rem;
}
.price-component {
    display: flex;
    align-items: center;
    width: 100%;
}

.sale-price {
    font-size: 2rem;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
}

.full-price{
    margin-left: 1.2rem;
    font-size: 14px;
    color: hsl(228, 12%, 50%);
    font-weight: 500;
    text-decoration: line-through;
}

.btn {
    width: 240px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    border-radius: 0.5rem;
    border: none;
}
.btn:hover {
    background-color: hsl(158, 42%, 18%);
}
.btn svg {
    margin-right: 0.5rem;
}
.btn p {
    font-family: Monteserrat;
    font-size: 14px;
    font-weight: 500;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }